@{
    ViewBag.Title = "Login";
}

<div class="container">
    <form class="ui-form">
        <div class="field">
            <label>User Name</label>
            <input type="text" name="user-name" placeholder="Username"/>
        </div>
    </form>

</div>
